.uniq-navbar {
    background-color: rgba(0, 0, 0, 0.8);
}
.uniq-body {
    background: url("https://images.pexels.com/photos/1089438/pexels-photo-1089438.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    color: white;
}
.uniq-bg-transperancy {
    background-color: rgba(246, 186, 21, 0.8);
}
.uniq-testimony {
    background: url("/img/test-bg.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}